/* GERAL */

p {
  font-family: Montserrat;
  font-size: 17px;
  text-align: justify;
}

/* NAVBAR */
.sticky-top {
  background-color: #FEFBF6;
  font-family: Finlandica;
  font-size: 20px;
  font-weight: bold;
}

.nav-item {
  margin: 0 15px;
}

/* APRESENTAÇÃO */
.apresentaçãoGeral {
  background-color: #f7ecde;
}

.apresentação {
  padding-top: 2rem;
}

.apresentaçãoTexto {
  width: 70%;
  padding-left: 3rem;
}

.joiceFoto {
  margin-bottom: 2rem;
}

/* SERVIÇOS */

.serviços {
  background-color: #e9dac1;
  padding: 2.5rem;
}

.serviçosTexto {
  font-family: 'Satisfy', cursive;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

/* CARROSSEL DE PORTFOLIO */
.carrossel {
  background-color: #f7ecde;
  padding: 5rem;
}
.carrosselConteúdo {
  width: 23rem;
  margin: 1rem;
}

/* CTA */
.cta {
  background-color: #fbf8f1;
  padding: 3rem;
}

.ctaTexto {
  width: 70%;
}

/* FOOTER/REDES SOCIAIS */
.footerTexto {
  font-family: Finlandica;
  font-size: smaller;
}